<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Page d'accueil
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="welcome-card">
    <ion-card-header>
  <ion-card-subtitle>Bienvenue dans notre application de randonnée</ion-card-subtitle>
    <ion-card-title>Veuillez cliquer sur login</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-button expand="block" routerLink="/login" routerDirection="root">
        Login
      </ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
