<ion-content>
    <ion-list>
        <ion-list-header>
            <ion-label>Hikings</ion-label>
        </ion-list-header>
        <ion-item *ngFor="let hike of hikings" (click)="detail(hike)">
            <ion-grid>
                <ion-row>
                    <ion-col size="6">
                        <ion-row justify-content-center>
                            <ion-img class="dimensions-100pourcent" [src]="hike.image"></ion-img>
                        </ion-row>
                    </ion-col>
                    <ion-col size="6">
                        <ion-row class="margin-bottom-after-item">
                            <ion-label>{{ hike.name}}</ion-label>
                        </ion-row>

                        <ion-row class="margin-bottom-after-item">
                            <i class="fas fa-map-marker-alt space-after-logo"></i>
                            <ion-label>{{ hike.address}}</ion-label>
                        </ion-row>

                        <ion-row class="margin-bottom-after-item">
                            <i class="fas fa-info-circle space-after-logo"></i>
                            <ion-label>{{hike.description}}</ion-label>
                        </ion-row>


                        <ion-row class="margin-bottom-after-item">
                            <span>
                                <ion-row>
                                    <i class="fas fa-hourglass-end space-after-logo"></i>
                                    <ion-label>{{ hike.duration}}</ion-label>
                                </ion-row>
                            </span>
                            <span>
                                <ion-row>
                                    <i class="fas fa-chart-line space-after-logo"></i>
                                    <ion-label>{{hike.elevation}}</ion-label>
                                </ion-row>
                            </span>
                        </ion-row>

                        <ion-row>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                        </ion-row>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-item>
    </ion-list>
</ion-content>