.space-after-logo{
  margin-right: 1em;
}

.margin-bottom-after-item{
  margin-bottom: 1em;
}

.align-vertical{
  display: flex;
  align-items: center;
}

.align-honrizontal{
  display: flex;
  justify-content: center;
}

.dimensions-100pourcent{
  width: 100%;
  height: 300px;
}

.space-after-logo{
  margin-right: 1em;
}

.margin-before-button{
  margin-top: 100px;
}
