<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Hike Detail
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div id="mapId" style="width: 400px; height: 400px">
  </div>
  <ion-grid>
  <ion-row>
    <ion-card>
      <ion-card-header>
        <ion-card-title>{{ hike.name}}</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <ion-grid>
          <ion-row>
            {{ hike.date}}
          </ion-row>
          <ion-row>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star"></span>
            <span class="fa fa-star"></span>
          </ion-row>
       </ion-grid>



        <ion-img [src]="hike.image"></ion-img>

      </ion-card-content>
    </ion-card>
  </ion-row>
  </ion-grid>
</ion-content>